<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Sage needs to know where you are in order to give you some tea about your surroundings. </string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.tripsage.refresh</string>
	</array>
</dict>
</plist>
